/*! Notes...

    Author: Jay George
    Author URI: https://jaygeorge.co.uk

*/

/* GROUP ELEMENTS / FRAMEWORK / (NON CORE) / FORMS / (CROSS POLLINATED)
=================================================== */
/* Notes...

    - You should consider increasing specificity depending on the environment e.g. add .site-container to
    the selector for WordPress so rules do not affect wp-admin bar

*/
/* purgecss start ignore */
[type="text"],
[type="email"],
[type="tel"],
[type="password"],
[type="url"],
[type="tel"],
[type="search"],
textarea {
    vertical-align: top;
    /* box-shadow: inset 0 -1px 0 rgba(0,0,0,0.1); */
    /* =JFG. e.g. search box >> blog or newsletter signup email address */
    padding: 15px;
    margin-bottom: 2rem;
    /* e.g. fields next to each other */
    margin-right: 0.5rem;
    /* =JFG. Need line height; IE9 bug. Source http://stackoverflow.com/questions/7797103/text-indent-for-a-text-box-in-ie */
    line-height: 1.45;
    border-radius: 2px;
}
/* purgecss end ignore */

[placeholder],
::-webkit-input-placeholder {
    /* =JFG. "search this website". This needs to be rem
    because sometimes the search form gets embedded in .s-entry-content which could be 1.1em.
    We don't want the placeholder font size getting too big. */
    font-size: 0.95rem;
}

label {
    /* Fixed */
    font-size: 16px;
    font-weight: var(--font-family-main-weight-strong);
    /* Override line-height set on body */
    line-height: 1;
}

/* purgecss start ignore */
textarea {
    width: 100%;
    /* e.g. something like Hubspot might be a bit short */
    min-height: 200px;
}
/* purgecss end ignore */

body [type="checkbox"] {
    /* Override any input styles */
    box-shadow: none;
}

[type="email"],
[type="text"],
[type="url"] {
    width: 100%;
    max-width: 275px;
}

/* Exceptions */
/* =JFG. Need high specificity e.g. "Preferred Appointment Time" xx HH, xx MM */
[type="text"] + label {
    position: relative;
    /* =JFG. Counter margin-bottom */
    top: -0.25rem;
}
/* GROUP ELEMENTS / FRAMEWORK / (NON CORE) / FORMS / LAYOUT / (CROSS POLLINATED)
=================================================== */
/* HTML Example...

    <form class="c-form">
        <div class="c-form__notes">
            Your email address will not be published
        </div>

        <fieldset>
            <legend>Leave a comment</legend>
            <div>

            </div>
        </fieldset>
    </form>

*/
.c-form {
    /* From lowest to highest value */
    max-width: var(--max-width-reading);
    max-width: 50rem;
    margin: auto;
}

input + .c-form__notes {
    /* e.g. 'Login' button followed by 'Forgotten your password?' */
    padding-block-end: 0;
    padding-block-start: var(--spacing-l);
}

.c-form__notes p {
    color: var(--colour-grey-reading);
}

.c-form legend {
    /* START SCREEN READER TEXT
    --------------------------- */
    clip: rect(1px, 1px, 1px, 1px);

    position: absolute!important;
    overflow: hidden;
    width: 1px;
    height: 1px;
    /* END SCREEN READER TEXT
    ------------------------- */
}

/* We use a class of fieldset since the `fieldset` element is not always present */
.c-form__fieldset {
    padding: 0 var(--spacing-l);
    border: 0;
}

/* Exceptions */
.c-form [type="checkbox"],
.c-form [type="radio"] {
    margin-bottom: 0;
}
/* GROUP ELEMENTS / FRAMEWORK / (NON CORE) / FORMS / LAYOUT / (MODIFIERS)
=================================================== */
.c-form--wide {
    max-width: 80rem;
}
/* GROUP ELEMENTS / FRAMEWORK / (NON CORE) / FORMS / LAYOUT / COLUMNS
=================================================== */
/* HTML Example...

    <div class="c-form-wrapper"> <-- (Optional). Used to adding padding on smaller MQs
        <form>
            <div class="c-form-cols">
                <div class="c-form-cols__col">
                    <input/>
                </div>
                <div class="c-form-cols__col">
                    <input/>
                </div>
                <div class="c-form-cols__col c-form-cols__col--full-width">
                    <textarea/>
                </div>
            </div>
        </form>
    </div>

*/
/* Modifiers...

    .c-form-cols__col--full-width <-- span the whole column e.g. Message

*/

.c-form-cols {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-column-gap: 1em;
}

.c-form-cols--1 {
    grid-template-columns: 1fr;
}

/* purgecss start ignore */
.c-form-cols__col--full-width {
    grid-column: 1 / -1;
}
/* purgecss end ignore */

/* Custom */
@media (min-width: 500px) {
    .c-form-cols__col input {
        /* e.g. if we have a shorter form field like a password */
        width: 100%;
        max-width: none;
    }

    /* Exceptions */
    .c-form-cols__col [type="checkbox"],
    .c-form-cols__col [type="radio"] {
        width: initial;
    }
}
/* GROUP ELEMENTS / FRAMEWORK / (NON CORE) / FORMS / SPACING
=================================================== */
/* (Optional). Used to adding padding on smaller MQs */
.c-form-wrapper {
    padding-inline-start: var(--spacing-s);
    padding-inline-end: var(--spacing-s);
}

.c-form__notes {
    padding-inline-start: var(--spacing-l);
    padding-block-end: var(--spacing-m);
    padding-inline-end: var(--spacing-l);
}

/* fieldset*/
.c-form__fieldset {
    /* Override default */
    margin: 0;
}

/* form */
label {
    /* Make padding effective */
    display: inline-block;
    padding-block-end: 1rem;
}

[type="checkbox"],
[type="radio"] {
    margin-right: var(--spacing-s);
}

/* Checkbox and Radio labels */
[type="checkbox"] + label,
[type="radio"] + label {
    padding-block-end: var(--spacing-s-2);
}

[type="submit"] {
    /* e.g. >> /blog/readability-test/ */
    margin-top: var(--spacing-s);
}
/* GROUP ELEMENTS / FRAMEWORK / (NON CORE) / FORMS / BUTTONS
=================================================== */
/* Notes...

    - You should consider increasing specificity depending on the environment e.g. add .site-container to
    the selector for WordPress so rules do not affect wp-admin bar

*/
[type="submit"] {
    /* Always on a separate line */
    display: block!important;
    /* Organisms > Forms > Plugins > Mailchimp */
    /* =JFG. e.g. Subscribe button for Mailchimp. This needs to be rem
    because sometimes the form gets embedded in .s-entry-content which could be 1.1em.
    We don't want the button size getting too big. */
    font-size: 0.85rem;
    /* Same as HTML, overriding the default of 1 in the reset */
    line-height: 1.5;
    /* Remove user agent style */
    background: transparent;
}
/* GROUP ELEMENTS / FRAMEWORK / (NON CORE) / FORMS / EXPLICIT BLOCK
=================================================== */
/* Notes...

    Where we want labels to always be on a separate line e.g. Comment forms

*/

/* HTML Example...

    <div class="s-forms-block">
        <form/>
    </div>

*/

/* Need to disable because selector group includes a plugin selector */
.s-forms-block label,
/* Organisms > Comments > Perch */
.c-form label {
    display: block;
}
/* GROUP ELEMENTS / FRAMEWORK / (NON CORE) / FORMS / DECORATION
=================================================== */
/* Override normalize */
::-webkit-input-placeholder,
input::placeholder {
    color: inherit;
    opacity: 0.54;
}
/* Optional override of normalize button reset */
/*button {
    @apply --t-text-style-1;
}*/
/* GROUP ELEMENTS / FRAMEWORK / (NON CORE) / FORMS / DECORATION / BORDERS
=================================================== */
/* There are some hacks here because of bad selector specificity from the plugin maker so we have to go outside the linting rules */
input:not([type="submit"]) {
    border: 1px solid hsl(0deg 0% 90%);
    border-radius: 4px;
}

[type="text"],
[type="email"],
[type="password"],
[type="tel"],
[type="number"],
[type="date"],
textarea {
    /* =JFG. Cancel default button appearance */
    -webkit-appearance: none;
}
/* GROUP ELEMENTS / FRAMEWORK / (NON CORE) / FORMS / INPUT TYPES
=================================================== */
[type="checkbox"] {
    -webkit-appearance: checkbox;
}

[type="radio"] {
    -webkit-appearance: radio;
}

[type="checkbox"],
[type="radio"] {
    /* =JFG. So they always line up */
    float: left;
}

/* The \9 is correct apparently. https://www.google.co.uk/search?q=input%5Btype%3Dradio%5D%2C+input%5Btype%3Dcheckbox%5D+%7B+margin%3A+4px+0+0%3B+margin-top%3A+1px+%5C9%3B+line-height%3A+normal%3B+%7D&oq=input%5Btype%3Dradio%5D%2C+input%5Btype%3Dcheckbox%5D+%7B+margin%3A+4px+0+0%3B+margin-top%3A+1px+%5C9%3B+line-height%3A+normal%3B+%7D&aqs=chrome..69i57.552j0j7&sourceid=chrome&es_sm=91&ie=UTF-8 */
[type="radio"],
[type="checkbox"] {
    /* margin: 4px 0 0; */
    margin-top: 1px \9;
    line-height: normal;
}
/* GROUP ELEMENTS / FRAMEWORK / (NON CORE) / FORMS / INPUT TYPES / DECORATION
=================================================== */
[type="search"] {
    border-radius: 5px;
}


/* purgecss start ignore */
/* GROUP ELEMENTS / FRAMEWORK / (NON CORE) / FORMS / TEXT FIELDS / DECORATION
=================================================== */
textarea {
    border: 1px solid hsl(0deg 0% 73%);
}
/* purgecss end ignore */
/* GROUP ELEMENTS / FRAMEWORK / (NON CORE) / FORMS / WORDPRESS
=================================================== */
/* e.g. do not affect hubspot comment, which is the last field. We do not want to create a big gap between the Hubspot comment and the submit button */
.comment-form-comment textarea {
    margin-bottom: 2.4rem;
}