/*! Notes...

    Author: Jay George
    Author URI: https://jaygeorge.co.uk

*/

/* GROUP ELEMENTS / FRAMEWORK / (NON CORE) / FORMS / (CROSS POLLINATED)
=================================================== */
/* Notes...

    - You should consider increasing specificity depending on the environment e.g. add .site-container to
    the selector for WordPress so rules do not affect wp-admin bar

*/
/* Modifiers...
    
    .c-form--hidden-labels <-- labels hidden with screen reader text except labels with .form-label-show

*/
/* purgecss start ignore */
[type="text"],
[type="email"],
[type="tel"],
[type="password"],
[type="url"],
[type="tel"],
[type="search"],
textarea {
    vertical-align: top;
    /* box-shadow: inset 0 -1px 0 rgba(0,0,0,0.1); */
    /* =JFG. e.g. search box >> blog or newsletter signup email address */
    padding: 15px;
    margin-bottom: 2rem;
    /* e.g. fields next to each other */
    margin-right: 0.5rem;
    /* =JFG. Need line height; IE9 bug. Source http://stackoverflow.com/questions/7797103/text-indent-for-a-text-box-in-ie */
    line-height: 1.45;
    border-radius: 2px;
    background: transparent;
}

.site-footer input {
    /* Decrease */
    padding: 13px;
}
/* purgecss end ignore */

[placeholder],
::-webkit-input-placeholder {
    /* =JFG. "search this website". This needs to be rem
    because sometimes the search form gets embedded in .s-entry-content which could be 1.1em.
    We don't want the placeholder font size getting too big. */
    font-size: 0.95rem;
}

.site-footer [placeholder],
.site-footer ::-webkit-input-placeholder,
.site-footer ::placeholder {
    color: white;
    opacity: 1;
    /* Decrease */
    font-size: 0.85rem;
}

.site-footer input:focus,
.site-footer textarea:focus {
    background: transparent;
}

label {
    /* Fixed */
    font-size: 15px;
    /* Override line-height set on body */
    line-height: 1;
}

/* purgecss start ignore */
textarea {
    width: 100%;
    /* e.g. something like Hubspot might be a bit short */
    min-height: 200px;
}
/* purgecss end ignore */

body [type="checkbox"] {
    /* Override any input styles */
    box-shadow: none;
}

/* Don't carpet bomb since we don't want a checkbox 100% width */
[type="email"],
[type="text"],
[type="url"],
[type="password"] {
    width: 100%;
    max-width: 275px;
}

.c-form-cols__col--full-width [type="email"],
.c-form-cols__col--full-width [type="text"],
.c-form-cols__col--full-width [type="url"],
.c-form-cols__col--full-width [type="password"] {
    /* e.g. Login modal */
    max-width: unset;
}

/* Exceptions */
/* =JFG. Need high specificity e.g. "Preferred Appointment Time" xx HH, xx MM */
[type="text"] + label {
    position: relative;
    /* =JFG. Counter margin-bottom */
    top: -0.25rem;
}
/* GROUP ELEMENTS / FRAMEWORK / (NON CORE) / FORMS / LAYOUT / (CROSS POLLINATED)
=================================================== */
/* HTML Example...

    <form class="c-form">
        <div class="c-form__notes">
            Your email address will not be published
        </div>

        <fieldset>
            <legend>Leave a comment</legend>
            <div>

            </div>
        </fieldset>
    </form>

*/
.c-form {
    width: 100%;
    max-width: 50rem;
    margin-inline-start: auto;
    margin-inline-end: auto;
}

.js__modal .c-form {
    max-width: 30rem;
}

input + .c-form__notes {
    /* e.g. 'Login' button followed by 'Forgotten your password?' */
    padding-block-end: 0;
    padding-block-start: var(--spacing-l);
}

.c-form__notes {
    font-family: var(--font-family-headline);
    font-size: var(--font-size-m-rem);
    line-height: var(--font-size-m-line-height);
}

.c-form__notes p {
    color: var(--colour-grey-reading);
}

.c-form legend,
.c-form--hidden-labels label:not(.c-form-label-show) {
    /* START SCREEN READER TEXT
    --------------------------- */
    clip: rect(1px, 1px, 1px, 1px);

    position: absolute!important;
    overflow: hidden;
    width: 1px;
    height: 1px;
    /* END SCREEN READER TEXT
    ------------------------- */
}

/* We use a class of fieldset since the `fieldset` element is not always present */
.c-form__fieldset {
    padding: 0 var(--spacing-l);
    border: 0;
}

/* Exceptions */
.c-form [type="checkbox"],
.c-form [type="radio"] {
    margin-bottom: 0;
}
/* GROUP ELEMENTS / FRAMEWORK / (NON CORE) / FORMS / LAYOUT / (MODIFIERS)
=================================================== */
.c-form--wide {
    max-width: 80rem;
}
/* GROUP ELEMENTS / FRAMEWORK / (NON CORE) / FORMS / LAYOUT / COLUMNS
=================================================== */
/* HTML Example...

    <div class="c-form-wrapper"> <-- (Optional). Used to adding padding on smaller MQs
        <form>
            <div class="c-form-cols">
                <div class="c-form-cols__col">
                    <input/>
                </div>
                <div class="c-form-cols__col">
                    <input/>
                </div>
                <div class="c-form-cols__col c-form-cols__col--full-width">
                    <textarea/>
                </div>
            </div>
        </form>
    </div>

*/
/* Modifiers...

    .c-form-cols__col--full-width <-- span the whole column e.g. Message

*/

.c-form-cols {
    display: grid;
/*     grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
    grid-column-gap: 1em;
}

.c-form-cols--1 {
    grid-template-columns: 1fr;
}

/* purgecss start ignore */
.c-form-cols__col--full-width {
    grid-column: 1 / -1;
}

/* e.g. Login modal */
.c-form-cols__col--full-width :is(.c-btn, [type="submit"]) {
    width: 100%;
}
/* purgecss end ignore */

/* Custom */
@media (min-width: 500px) {
    .c-form-cols__col input {
        /* e.g. if we have a shorter form field like a password */
        width: 100%;
        max-width: none;
    }

    /* Exceptions */
    .c-form-cols__col [type="checkbox"],
    .c-form-cols__col [type="radio"] {
        width: initial;
    }
}
/* GROUP ELEMENTS / FRAMEWORK / (NON CORE) / FORMS / SPACING
=================================================== */
/* (Optional). Used to adding padding on smaller MQs */
.c-form-wrapper {
    padding-inline: var(--spacing-l);
}

.c-form__notes {
    padding-block-end: var(--spacing-m);
}

.c-form-cols .c-form__notes p {
    /* e.g. Modal */
    padding-block-end: var(--spacing-s-x-x);
}

.c-form-cols .c-form__notes,
.c-form-cols .c-form__notes p:last-child {
    /* e.g. Modal */
    padding: 0;
}

/* fieldset*/
.c-form__fieldset {
    /* Override default */
    margin: 0;
}

/* form */
label {
    /* Make padding effective */
    display: inline-block;
    padding-block-end: 0.8rem;
}

[type="checkbox"],
[type="radio"] {
    margin-right: var(--spacing-s-x);
}

/* Checkbox and Radio labels */
[type="checkbox"] + label,
[type="radio"] + label {
    padding-block-end: var(--spacing-s-2);
}

[type="submit"] {
    /* e.g. >> /blog/readability-test/ */
    margin-top: var(--spacing-s-1);
    /* Increase a touch */
    --padding-vertical: 19px;
    padding-block-start: var(--padding-vertical);
    padding-block-end: var(--padding-vertical);
}
/* GROUP ELEMENTS / FRAMEWORK / (NON CORE) / FORMS / BUTTONS
=================================================== */
/* Notes...

    - You should consider increasing specificity depending on the environment e.g. add .site-container to
    the selector for WordPress so rules do not affect wp-admin bar

*/
[type="submit"] {
    /* Always on a separate line */
    display: block!important;
    /* Organisms > Forms > Plugins > Mailchimp */
    /* =JFG. e.g. Subscribe button for Mailchimp. This needs to be rem
    because sometimes the form gets embedded in .s-entry-content which could be 1.1em.
    We don't want the button size getting too big. */
    font-size: 0.85rem;
    /* Same as HTML, overriding the default of 1 in the reset */
    line-height: 1.5;
    /* Remove user agent style */
    background: white;
}
/* GROUP ELEMENTS / FRAMEWORK / (NON CORE) / FORMS / EXPLICIT BLOCK
=================================================== */
/* Notes...

    Where we want labels to always be on a separate line e.g. Comment forms

*/

/* HTML Example...

    <div class="s-forms-block">
        <form/>
    </div>

*/

/* Need to disable because selector group includes a plugin selector */
.s-forms-block label,
/* Organisms > Comments > Perch */
.c-form label {
    display: block;
}
/* GROUP ELEMENTS / FRAMEWORK / (NON CORE) / FORMS / DECORATION
=================================================== */
/* Override normalize */
::-webkit-input-placeholder,
input::placeholder {
    color: inherit;
    opacity: 0.54;
}

.c-form-cols .c-form__notes {
    font-size: var(--font-size-s-x-x);
}
/* GROUP ELEMENTS / FRAMEWORK / (NON CORE) / FORMS / DECORATION / BORDERS
=================================================== */
input:not([type="submit"]) {
    border: 0;
    border-block-end: 1px solid rgb(250, 250, 250);
    border-radius: 0;
}

[type="text"],
[type="email"],
[type="password"],
[type="tel"],
[type="number"],
[type="date"],
textarea {
    /* =JFG. Cancel default button appearance */
    -webkit-appearance: none;
}
/* GROUP ELEMENTS / FRAMEWORK / (NON CORE) / FORMS / INPUT TYPES
=================================================== */
[type="checkbox"] {
    -webkit-appearance: checkbox;
}

[type="radio"] {
    -webkit-appearance: radio;
}

[type="checkbox"],
[type="radio"] {
    /* =JFG. So they always line up */
    float: left;
}

/* The \9 is correct apparently. https://www.google.co.uk/search?q=input%5Btype%3Dradio%5D%2C+input%5Btype%3Dcheckbox%5D+%7B+margin%3A+4px+0+0%3B+margin-top%3A+1px+%5C9%3B+line-height%3A+normal%3B+%7D&oq=input%5Btype%3Dradio%5D%2C+input%5Btype%3Dcheckbox%5D+%7B+margin%3A+4px+0+0%3B+margin-top%3A+1px+%5C9%3B+line-height%3A+normal%3B+%7D&aqs=chrome..69i57.552j0j7&sourceid=chrome&es_sm=91&ie=UTF-8 */
[type="radio"],
[type="checkbox"] {
    /* margin: 4px 0 0; */
    margin-top: 1px \9;
    line-height: normal;
}
/* GROUP ELEMENTS / FRAMEWORK / (NON CORE) / FORMS / INPUT TYPES / DECORATION
=================================================== */
[type="search"] {
    border-radius: 5px;
}


/* purgecss start ignore */
/* GROUP ELEMENTS / FRAMEWORK / (NON CORE) / FORMS / TEXT FIELDS / DECORATION
=================================================== */
textarea {
    /* e.g. >> /art-club */
    border: 1px solid hsl(0deg 0% 80%);
}
/* purgecss end ignore */
/* GROUP ELEMENTS / FRAMEWORK / (NON CORE) / FORMS / WORDPRESS
=================================================== */
/* e.g. do not affect hubspot comment, which is the last field. We do not want to create a big gap between the Hubspot comment and the submit button */
.comment-form-comment textarea {
    margin-bottom: 2.4rem;
}




/* GROUP SCOPE / MODAL THEME
=================================================== */
/* Notes...

    - Used for modals

*/
/* HTML Example...

    <div class="c-form-wrapper s-forms-modal-theme">
        <form/>
    </div>

*/
/* GROUP SCOPE / MODAL THEME / LAYOUT
=================================================== */
/* GROUP SCOPE / MODAL THEME / SPACING
=================================================== */
.c-form-wrapper.s-forms-modal-theme {
    /* Decrease */
    padding-inline: var(--spacing-m);
}

.s-forms-modal-theme [type="checkbox"],
.s-forms-modal-theme [type="radio"] {
    margin-right: var(--spacing-s);
}

.s-forms-modal-theme .c-form__notes {
    padding-block-end: var(--spacing-m);
    padding-block-end: 0;
}
/* GROUP SCOPE / MODAL THEME / DECORATION
=================================================== */
.s-forms-modal-theme label {
    font-weight: var(--font-family-main-weight-strong);
}

.s-forms-modal-theme label {
    font-size: 16px;
}

.s-forms-modal-theme .c-form__notes {
    font-family: var(--font-family-system);
}

.s-forms-modal-theme input:not([type="submit"]) {
    border: 1px solid hsl(0deg 0% 90%);
    border-radius: 4px;
}



/* GROUP SCOPE / MAIN THEME
=================================================== */
/* Notes...

    - Used for main content

*/
/* HTML Example...

    <div class="u-width-max-1">
        <h2 class="medium-title">Book an Appointment with an Artist or Advisor</h2>
        <div class="c-form-wrapper s-forms-main-theme">
            <form/>
        </div>
    </div>

*/
/* GROUP SCOPE / MAIN THEME / LAYOUT
=================================================== */
.s-forms-main-theme {
/*     max-width: var(--max-width-reading); */
}
/* GROUP SCOPE / MAIN THEME / SPACING
=================================================== */
.s-forms-main-theme [type="checkbox"],
.s-forms-main-theme [type="radio"] {
    margin-right: var(--spacing-s);
}

.s-forms-main-theme .c-form__notes {
    padding-block-end: var(--spacing-m);
    padding-block-end: 0;
}

.s-forms-main-theme .c-form {
    padding: var(--spacing-m);
}
/* GROUP SCOPE / MAIN THEME / DECORATION
=================================================== */
.s-forms-main-theme label {
    font-weight: var(--font-family-main-weight-strong);
}

.s-forms-main-theme label {
    font-size: 16px;
}

.s-forms-main-theme .c-form__notes {
    font-family: var(--font-family-system);
}

.s-forms-main-theme input:not([type="submit"]) {
    border: 1px solid hsl(0deg 0% 90%);
    border-radius: 4px;
}

.s-forms-main-theme .c-form {
    border: 1px solid var(--colour-grey-light-2);
    box-shadow: var(--box-shadow-b);
    border-radius: var(--border-radius-m);
}