/* GROUP COMPONENTS / FRAMEWORK / SITE HEADER / MEGA MENU
=================================================== */
/* HTML Example...

    <div class="c-mega-menu-container js--megaMenuActive">
        <div class="c-mega-menu">
            <button class="c-mega-menu__back-button">(svg) Back</button>
            <h3>(svg) What’s Hot Now</h3>
            <div class="c-mega-menu__grid">
                <ul class="c-mega-menu__full-width">
                    <li>
                        <img/>
                        <a href=""><span class="u-icon-left-m">(flag img)</span> Formula 1 Luxury Stay At Silverstone</a>
                    </li>
                    <li>
                        <img class="c-mega-menu__feature-image" src="/img/experiences/six-senses-ibiza/six-senses-ibiza.jpg" alt="Silverstone" loading="lazy" width="800" height="448">
                        <a href=""><span class="u-icon-left-m">(flag img))</span> Europe’s Hottest New Hotel — Six Senses Ibiza</a>
                    </li>
                </ul>
                <ul>
                    <li><a href="">Arts & Culture</a></li>
                    <li><a href="">Beauty & Wellbeing</a></li>
                    <li><a href="">Best of Britain</a></li>
                    <li><a href="">Create Your Own</a></li>
                    <li><a href="">Fashion & Style</a></li>
                    <li><a href="">Food & Drink</a></li>
                    <li><a href="">Lifestyle & Adventure</a></li>
                    <li><a href="">Parties & Events</a></li>
                </ul>
                <ul>
                    <li><a href="">Private Stays</a></li>
                    <li><a href="">Property</a></li>
                    <li><a href="">Sport</a></li>
                    <li><a href="">Technology</a></li>
                    <li><a href="">Travel</a></li>
                    <li><a href="">Virtual</a></li>
                    <li><a href="">Yachts, Cars & Jets</a></li>
                </ul>
                <ul class="c-mega-menu__full-width">
                    <li><a href="">View All Experiences (svg)</a></li>
                </ul>
            </div>
        </div>
    </div>

*/
/* GROUP COMPONENTS / FRAMEWORK / SITE HEADER / MEGA MENU / LAYOUT
=================================================== */
/* ul*/
.c-site-header__nav .c-mega-menu-container {
    position: absolute;
    z-index: var(--z-index-nav);
    top: 0;
    left: calc(0% - var(--spacing-m));
    width: calc(100% + var(--spacing-m));
    height: 100vh;
}

.c-site-header__nav .c-mega-menu-container--search {
    position: fixed;
    z-index: var(--z-index-modal);
    left: 0;
    width: 100%;
}
/* html*/
.js--megaMenuSearchIsOpen {
    overflow: hidden;
}

.c-mega-menu__grid,
/* Override */
.c-mega-menu__grid .c-mega-menu__full-width {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 350px), 1fr));
    gap: var(--spacing-l-1) var(--spacing-s-2);
}

.c-mega-menu ul {
    display: initial;
}

/* e.g. Hot Picks */
.c-mega-menu .c-mega-menu__full-width {
    grid-column: 1 / -1;
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 350px), 1fr));
    align-items: start;
}

/* --- */

nav a,
/* Login button */
nav .btn,
/* Search icon */
nav svg {
    position: relative;
    z-index: 1;
}

nav {
    position: relative;
}

/* --mq-nav-opens-before */
@media (max-width: 1199px) {
    .c-site-header__nav .c-mega-menu-container {
        position: fixed;
        left: 0;
        top: 0;
        /* Above nav */
        z-index: var(--z-index-modal);
        width: 100%;
    }
}

/* --mq-nav-opens-after */
@media (min-width: 1200px) {
    .c-mega-menu__back-button {
        display: none!important;
    }
}
/* GROUP COMPONENTS / FRAMEWORK / SITE HEADER / MEGA MENU / LAYOUT / SCROLL BEHAVIOUR
=================================================== */
@supports (overscroll-behavior-y: contain) {
    .c-mega-menu-container {
        overflow: scroll;
        /* Don't continue scrolling the page when you get to the end of the container */
        overscroll-behavior-y: contain;
    }
}

@supports not (overscroll-behavior-y: contain) {
    .c-mega-menu-container,
    .c-mega-menu {
        /* Needed for scrolling within the modal box */
        height: 100%;
    }

    .c-mega-menu {
        overflow: scroll;
    }

    /* Used to be like this but prevents scrolling at small MQs on Safari Version 15.1 */
    /* .c-mega-menu-container:not(.js--megaMenuActive):not(.c-mega-menu-container--search) */
    .c-mega-menu-container:not(.js--megaMenuActive) {
        display: none;
    }

    .js--megaMenuSearchIsOpen .c-mega-menu-container {
        display: unset;
        /* When the search opens make sure we don't get a flash of white 'swipe-right' */
        animation-duration: 0s!important;
    }
}
/* GROUP COMPONENTS / FRAMEWORK / SITE HEADER / MEGA MENU / SPACING
=================================================== */
.c-mega-menu {
    padding: var(--spacing-l-4) var(--spacing-l-horizontal);
}

.c-mega-menu__back-button {
    padding-block-start: 0!important;
    padding-inline-start: 0!important;
    margin-block-end: var(--spacing-s-x);
}

nav .c-mega-menu__back-button :is(svg, [src*=".svg"]) {
    margin-inline-start: 0;
    margin-inline-end: var(--spacing-s);
}

.c-mega-menu li {
    padding-block-end: var(--spacing-s);
}

.c-mega-menu a {
    padding: 0;
}

.c-mega-menu__feature-image {
    padding-block-end: var(--spacing-s-1);
}

.c-mega-menu__grid + :is(h2, h3) {
    /* e.g. International second part of grid > "Other African Adventures" */
    margin-block-start: var(--spacing-m);
}

.c-mega-menu__full-width li {
    /* Because we're using grid instead */
    padding-block-end: 0;
}

.c-mega-menu h3 {
    padding-block-end: var(--spacing-s);
}

/* --mq-nav-opens-before */
@media (max-width: 1199px) {
    .c-mega-menu {
        padding-block-start: var(--nav-top);
        /* Increase for bottom bar on Safari mobile */
        padding-block-end: calc(var(--spacing-l-4) * 3);
    }
}

/* --mq-nav-opens-after */
@media (min-width: 1200px) {
    .c-mega-menu {
        /* Decrease */
        padding-block-end: var(--spacing-l);
        padding-inline-start: calc(var(--spacing-m) + var(--spacing-s));
        /* Optically aligned */
        padding-inline-end: calc(var(--spacing-m) + var(--spacing-s) - 0.1em);
    }
}
/* GROUP COMPONENTS / FRAMEWORK / SITE HEADER / MEGA MENU / DECORATION / (CROSS POLLINATED)
=================================================== */
.c-mega-menu-container {
    background: white;
}

.c-mega-menu * {
    font-feature-settings: initial!important;
}

body .c-mega-menu__back-button {
    font-weight: var(--font-family-main-weight-normal)!important;
    background: none;
}

.c-mega-menu h3 {
    font-family: var(--font-family-main);
    font-size: var(--font-size-s-x-x);
    font-weight: var(--font-family-main-weight-strong);
    line-height: var(--font-size-m-line-height);
}

.c-mega-menu__title,
.c-mega-menu__category {
    font-family: var(--font-family-headline);
}

.c-mega-menu ul:nth-child(odd):not(.c-mega-menu__full-width) {
    position: relative;
}

/* --mq-nav-opens-after */
@media (min-width: 1200px) {
    /* e.g. make sure it doesn't contain c-mega-menu__full-width or c-mega-menu__three-quarters */
    .c-mega-menu ul:nth-child(odd):not([class*="c-mega-menu__"])::before {
        content: "";
        position: absolute;
        height: 100%;
        left: calc(0% - var(--spacing-s-2));
        border-left: 1px solid var(--colour-grey-light-2);
    }
}
/* GROUP COMPONENTS / FRAMEWORK / SITE HEADER / MEGA MENU / ANIMATIONS
=================================================== */
:root {
    --mega-menu-wipe-in-left: 1.2s cubic-bezier(.25, 1, .30, 1) wipe-in-left both;
    --mega-menu-wipe-out-right: 1.2s cubic-bezier(.25, 1, .30, 1) wipe-out-right both;

    --mega-menu-wipe-in-down: 1.2s cubic-bezier(.25, 1, .30, 1) wipe-in-down both;
    --mega-menu-wipe-out-up: 1.2s cubic-bezier(.25, 1, .30, 1) wipe-out-up both;

}

/* purgecss start ignore */
.c-mega-menu-container {
    animation: var(--mega-menu-wipe-in-left);
}
/* Components > Framework > Site Header > Mega Menu > Search > Animations */
.c-mega-menu-container--search {
    animation: var(--mega-menu-wipe-in-down);
}
.js:not(.js--navHasBeenOpened):not(.js--megaMenuHasBeenClosed) .c-mega-menu-container:not(.js--megaMenuActive):not(.c-mega-menu-container--search),
.c-mega-menu-container:not(.js--megaMenuActive) {
    /* This controls the wipe-out-right when the menu is closed */
    animation: var(--mega-menu-wipe-out-right);
}

/* Components > Framework > Site Header > Mega Menu > Search > Animations */
.js .c-mega-menu-container--search:not(.js--megaMenuActive) {
    /* This controls the wipe-out-up when the search menu is closed */
    animation: var(--mega-menu-wipe-out-up);
}

/* --mq-nav-opens-before */
@media (max-width: 1199px) {
    .js:not(.js--megaMenuHasBeenOpened) .c-mega-menu-container {
        animation-duration: 0s;
    }
}
/* --mq-nav-opens-after */
@media (min-width: 1200px) {
    .js--megaMenuIsOpen-fadeFromNowOn .c-mega-menu-container:not(.c-mega-menu-container--search),
    /* Disable The Wipe-Out-Right Animation From Initially Happening When The Page Loads Up */
    html:not(.js--megaMenuHasBeenOpened):not(.js--megaMenuSearchIsOpen):not(.js--megaMenuSearchHasBeenOpened) .c-mega-menu-container {
        animation-duration: 0s!important;
    }

    .js--megaMenuIsOpen-fadeFromNowOn .js--megaMenuActive .c-mega-menu__grid li {
        /* border: 3px solid red!important; */
        animation-name: fade-in;
        animation-duration: 0.9s;
        animation-fill-mode: forwards;
    }

    .js--megaMenuIsOpen-fadeFromNowOn .js--megaMenuActive .c-mega-menu__grid li:nth-child(2n) {
        animation-delay: calc(0.025s * 1);
    }

    .js--navIsOpen .c-site-header__animate-staggered > *:first-child {
        animation-name: fade-in;
        animation-duration: 0.9s;
        animation-fill-mode: forwards;
    }
    /* Staggered animation */
    .c-site-header__animate-staggered > *:first-child {
        /* Default i.e. after 4th */
        animation-delay: calc(0.025s * 8);
    }
    /* li*/
    .c-site-header__animate-staggered:nth-child(1) > *:first-child {
        animation-delay: 0s;
    }
    /* li*/
    .c-site-header__animate-staggered:nth-child(2) > *:first-child {
        animation-delay: calc(0.025s * 2);
    }
    /* li*/
    .c-site-header__animate-staggered:nth-child(3) > *:first-child {
        animation-delay: calc(0.025s * 4);
    }
    /* li*/
    .c-site-header__animate-staggered:nth-child(4) > *:first-child {
        animation-delay: calc(0.025s * 6);
    }

    .c-site-header__animate-staggered:nth-child(5) > *:first-child {
        animation-delay: calc(0.025s * 8);
    }

    .c-site-header__animate-staggered:nth-child(6) > *:first-child {
        animation-delay: calc(0.025s * 10);
    }

    .c-site-header__animate-staggered:nth-child(7) > *:first-child {
        animation-delay: calc(0.025s * 12);
    }
}



/* GROUP COMPONENTS / FRAMEWORK / SITE HEADER / MEGA MENU / SEARCH / LAYOUT
=================================================== */
.c-mega-menu-full-search {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.c-mega-menu-full-search form {
    width: 90vw;
    max-width: 30rem;
}

.c-mega-menu-full-search [type="search"] {
    width: 100%;
}
/* GROUP COMPONENTS / FRAMEWORK / SITE HEADER / MEGA MENU / SEARCH / SPACING
=================================================== */
.c-mega-menu-full-search [type="search"] {
    margin: 0;
}
/* GROUP COMPONENTS / FRAMEWORK / SITE HEADER / MEGA MENU / SEARCH / DECORATION
=================================================== */
.c-mega-menu-container--search {
    background: var(--colour-black-transparent-1);
}

.c-mega-menu-full-search [type="search"]::placeholder,
.c-mega-menu-full-search [type="search"][placeholder] {
    color: white;
    opacity: 1;
    font-size: var(--font-size-m-rem);
}

/* The 'cancel' cross */
::-webkit-search-cancel-button {
    /* Make it white */
    filter: grayscale(100%) contrast(500%) invert(1);
}

.c-mega-menu-full-search .c-close-button svg {
    color: white;
    font-size: var(--icon-size-m);
}
/* GROUP COMPONENTS / FRAMEWORK / SITE HEADER / MEGA MENU / SEARCH / ACCESSIBILITY / FOCUS
=================================================== */
.c-mega-menu-full-search {
    caret-color: white;
}

.c-mega-menu-full-search input:focus,
.c-mega-menu-full-search:focus {
    background: transparent;
    outline: none;
}

.c-mega-menu-full-search [type="search"]:focus {
    border-bottom: 2px solid white;
}

.c-mega-menu-full-search .c-close-button {
    top: var(--spacing-s-2);
    right: var(--spacing-s-2);
}

/* --mq-nav-opens-after */
@media (min-width: 1200px) {
    .c-mega-menu-full-search .c-close-button {
        /* Increase */
        top: var(--spacing-s);
        right: var(--spacing-s-1);
    }
}
/* GROUP COMPONENTS / FRAMEWORK / SITE HEADER / MEGA MENU / SEARCH / ANIMATIONS / (CROSS POLLINATED)
=================================================== */
.js--megaMenuSearchIsOpen .c-site-header__search .c-mega-menu-container--search {
    animation: var(--mega-menu-wipe-in-down);
}


/* GROUP COMPONENTS / FRAMEWORK / SITE HEADER / MEGA MENU / DECORATION / ELEMENTOR OVERRIDES
=================================================== */
.elementor-kit-4 .c-mega-menu__back-button:hover {
    background: none;
    color: black;
}
/* purgecss end ignore */