/*! Notes...

    Author: Jay George
    Author URI: https://jaygeorge.co.uk

    ABOUT THIS CSS
    ===================================================
    - Only edit filename.css, then process with Codekit to output into prod/

*/

/* GROUP SITE FOOTER
=================================================== */
/* HTML Example...

    <footer class="site-footer">
        <div class="site-footer__columns">
            <nav>
                <ul>
                    <li class="site-footer__heading">Explore the Sybarite</li>
                    <li class="site-footer__cards">
                        <ul>
                            <li>svg</li>
                            <li>svg</li>
                            <li>svg</li>
            <nav>
                <ul>
                    <li class="site-footer__heading">Explore the Sybarite</li>
            <form>

*/
/* GROUP SITE FOOTER / LAYOUT
=================================================== */
.site-footer {
    /* Above CTA */
    position: relative;
}

.site-footer__columns {
    display: flex;
    /* flex-wrap: wrap; */
    /* gap: var(--spacing-s); */
    max-width: var(--max-width-1);
    margin: auto;
    justify-content: space-between;
}

.site-footer nav ul {
    gap: var(--spacing-s-x-x);
}

.site-footer__heading {
    font-family: var(--font-family-headline);
    text-transform: initial;
    letter-spacing: 0;
    font-size: var(--font-size-m-rem);
    padding-block-end: var(--spacing-s-1);
}

.site-footer [type="submit"] {
    width: 100%;
}

body .site-footer__cards ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--spacing-s);
}


/* Custom */
@media (min-width: 375px) {
    .site-footer__columns nav {
        flex-basis: 50%;
    }
}

/* --mq-site-footer-breakpoint-1-before */
@media (max-width: 814px) {
    .site-footer__columns {
        flex-wrap: wrap;
    }
}

/* --mq-site-footer-breakpoint-1-after */
@media (min-width: 815px) {
    .site-footer__columns nav {
        flex-basis: 33.333%;
    }
}

/* --mq-site-footer-breakpoint-2-after */
@media (min-width: 1130px) {
    .site-footer__columns nav {
        flex-basis: 20%;
    }

    .site-footer__columns form {
        flex-basis: 75%;
    }

    .c-site-footer__form-with-agreement {
        display: grid;
        grid-template-columns: 75fr 25fr;

        gap: var(--spacing-l-2);
    }
}
/* GROUP SITE FOOTER / SPACING
=================================================== */
.site-footer {
    padding-block-start: var(--spacing-l-3);
    padding-block-end: var(--spacing-l-3);
}

.site-footer__columns {
    padding-inline-start: var(--spacing-l);
    padding-inline-end: var(--spacing-l);
}

.site-footer [type="submit"] {
    /* Decrease */
    margin-block-start: var(--spacing-s-x);
    /* Increase */
    margin-block-end: var(--spacing-s-1);
}

.site-footer li {
    padding-block-end: var(--spacing-s);
}

.site-footer__cards {
    /* Increase */
    padding-block-start: var(--spacing-s-x);
}

.site-footer__cards li {
    /* Remove default */
    padding-block-end: 0;
}

/* --mq-site-footer-breakpoint-1-before */
@media (max-width: 1199px) {
    .site-footer__columns nav {
        padding-block-end: var(--spacing-l-2);
    }
}
/* GROUP SITE FOOTER / DECORATION
=================================================== */
.site-footer {
    background: var(--colour-black);
    color: var(--colour-pale);
}

.site-footer [type="submit"] {
    background: white;
    color: black;
}

.site-footer label {
    font-weight: var(--font-family-system-weight-normal);
}

.site-footer__cards svg {
    font-size: 2.5em;
}

.site-footer__cards img {
    width: 2.5em;
    position: relative;
}

.site-footer .c-form__notes {
    font-family: var(--font-family-headline);
}