/*! Notes...

    Author: Jay George
    Author URI: https://jaygeorge.co.uk

    ABOUT THIS CSS
    ===================================================
    - Only edit filename.css, then process with Codekit to output into prod/

*/

@keyframes wipe-in-left {
    from {
        clip-path: inset(0 0 0 100%);
    }
    to {
        clip-path: inset(0 0 0 0);
    }
}

.image-with-text__question-box {
    position: fixed;
    top: 11em;
    right: 0;
    width: 18%;
    color: var(--colour-accent);
    background: black;
    padding: var(--spacing-m)!important;
    font-size: var(--font-size-s);

    animation: 1.5s cubic-bezier(.25, 1, .30, 1) wipe-in-left both;
    animation-delay: 1.2s;
}

.image-with-text__question-box p {
    line-height: 1.4;
    padding-block-end: 0;
    padding-inline-start: var(--spacing-s-x);
    padding-block-end: 0.1em;
}




.article {
    display: grid;
    grid-template-columns: 26em;
    position: relative;
    background: var(--colour-accent);
}

.article {
    padding-block-start: var(--spacing-l-3);
    padding-inline-start: 11em;
    padding-block-end: 20em;
    color: hsl(168deg 100% 5%);
}

.article h2 {
    font-size: var(--font-size-l-1);
    line-height: var(--font-size-l-1-line-height);
/*     text-indent: 4rem; */
}

.article p {
    /* font-size: var(--font-size-s-x); */
}

#main > article > img {
    position: absolute;
    left: 44em;
    top: 73em;
    width: 25%;
}

.caption {
    position: absolute;
    left: 44rem;
    top: 97rem;
    font-size: var(--font-size-s-x);
}